.background-notable{
  background-color: #222222;
  width: 100%;
  padding: 80px;
}
.background-item{
  width: 340px;
  height: 218px;
  background-color: white;
  padding: 20px;
}
.text-item{
  font-size: 80px;
}

@media (max-width:768px){
  .background-notable{
    display: none;
  }
}